.loader {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px dashed teal;
    animation: rotate 4s infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg) scale(1);
        border: 2px dashed teal;
    }

    25%{
        transform: rotate(-3600deg) scale(2);
        border: 5px solid  white;
    }

    100%{
        display: none;
    }
}