* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App{
  width: 800px;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post__btns {
  display: flex;

}

.post-enter {
  transform: translateX(3000px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 350ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-3000px);
  transition: all 350ms ease-in;
}

.page__wrapper {
  margin: 25px 0 10px 0;
  display: flex;
  justify-content: center;
}

.page {
  font-size: 20px;
  margin-right: 10px;
  padding: 8px 18px 12px 18px;
  border-radius: 15%;
  border: 2px solid teal;
  cursor: pointer;
}

.page:hover {
  background: greenyellow;
}

.page__current {
  border: 2px solid orange;
  font-weight: bold;
}

.navbar {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background: lightgray;

}

.navbar__links {
  margin-left: auto;
}

.navbar__links > a {
  text-decoration: none;
  padding-left: 15px;
}

/*.navbar__links > a:hover { */
a:hover {
  color: greenyellow;
}
